WebContent/WEB-INF/resources/contracts/feed-validator.wadl

<?xml version="1.0" encoding="utf-8"?>
<application 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xsi:schemaLocation="http://research.sun.com/wadl/2006/10 wadl.xsd"
	xmlns="http://research.sun.com/wadl/2006/10"> 
	<grammars/>
	
    <resources base="http://validator.w3.org/feed/"> 
        <resource path="check.cgi"> 
                
            <doc title="responseType">default</doc>
            
            <doc xml:lang="en" title="name">Feed Validator</doc>
          
            <doc title="mimetype">application/xml</doc>
            <doc title="mimetype">application/atom+xml</doc>
            <doc title="mimetype">text/xml</doc>
            <doc title="mimetype">text/html</doc>
            
    		<doc title="paramOutput">output</doc>
    		
        	<method name="GET" id="uriMethod">
                <doc title="inputMethod">URI</doc>
                <doc title="inputParamName">url</doc>
                <request>
                        <param name="url" type="xs:anyURI" style="plain" required="true" /> 
                        <param name="output" fixed="ucn" required="true" style="plain">
							<option value="ucn"/>
						</param>
                </request>
            </method>
        </resource>
    </resources>
</application>
