WebContent/WEB-INF/resources/contracts/http.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://research.sun.com/wadl/2006/10 wadl.xsd" xmlns="http://research.sun.com/wadl/2006/10">
  <grammars/>
  <resources base="http://validator.w3.org/">
    <resource path="http-checker/">
      <doc title="responseType">default</doc>

      <doc xml:lang="en" title="name">HTTP Checker</doc>

      <doc title="mimetype">text/html</doc>

      <doc title="paramOutput">output</doc>

      <method name="GET" id="uriMethod">
        <doc title="inputMethod">URI</doc>
        <doc title="inputParamName">ca_uri</doc>
        <request>
          <param name="ca_uri" type="xs:anyURI" style="plain" required="true" />
          <param name="output" fixed="ucn" required="true" style="plain">
            <option value="ucn" />
          </param>
        </request>
      </method>
    </resource>
  </resources>
</application>
