WebContent/WEB-INF/resources/contracts/i18n.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://research.sun.com/wadl/2006/10 wadl.xsd" xmlns="http://research.sun.com/wadl/2006/10"> 
<grammars/> 
    <resources base="http://qa-dev.w3.org/i18n-checker-test/"> 
        <resource path="check"> 
            <doc title="responseType">default</doc>
            
            <doc xml:lang="en" title="name">W3C Internationalization Checker</doc>
            
            <doc title="mimetype">text/html</doc>
            <doc title="mimetype">application/xml</doc>
            <doc title="mimetype">text/xml</doc>
    
        	<method name="GET" id="uriMethod">
                <doc title="inputMethod">URI</doc>
                <doc title="inputParamName">docAddr</doc>
                <request>
                        <param name="docAddr" type="xs:anyURI" style="plain" required="true" />
                        <param name="format" type="xs:anyURI" style="plain" required="true" fixed="xml" /> 
                </request>
            </method>
        </resource>
    </resources>
</application>
