WebContent/WEB-INF/resources/contracts/mobileOk.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://research.sun.com/wadl/2006/10 wadl.xsd" xmlns="http://research.sun.com/wadl/2006/10"> 
<grammars/> 
	<resources base="http://qa-dev.w3.org:8001/mobileok/"> 
		<resource path="check"> 
			
			<doc title="responseType">old</doc>
			<doc xml:lang="en" title="name">W3C Mobile OK Checker</doc>
			<doc xml:lang="fr" title="name">W3C Validateur Mobile OK</doc>
			
			<doc title="mimetype">text/html</doc>
			<doc title="mimetype">application/xhtml+xml</doc>
			
			<doc title="paramLang">lang</doc>
			<doc title="paramOutput">output</doc>
			
			<doc title="reference">mobileok</doc>
		
     		<method name="GET" id="MobileOKValidationUri">
				<doc title="inputMethod">URI</doc>
				<doc title="inputParamName">docAddr</doc>
				<request>
					<param name="docAddr" type="xs:anyURI" style="plain" required="true" />     
					<param name="output" fixed="unicorn" required="true" style="plain">
						<option value="unicorn" />
					</param>
				</request>
		    </method>
		 
		</resource>
	</resources>
</application>
