WebContent/WEB-INF/resources/contracts/unicorn.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://research.sun.com/wadl/2006/10 wadl.xsd" xmlns="http://research.sun.com/wadl/2006/10"> 
<grammars/> 
	<resources base="http://qa-dev.w3.org/unicorn/"> 
		<resource path="check"> 
			<doc title="responseType">default</doc>
			
			<doc xml:lang="en" title="name">Unicorn Web Service</doc>
			
			<doc title="mimetype">text/html</doc>
			
			<doc title="paramLang">lang</doc>
			<doc title="paramOutput">output</doc>
		
      		<method name="GET" id="CssValidationUri">
				<doc title="inputMethod">URI</doc>
				<doc title="inputParamName">ucn_uri</doc>
				<request>
					<param name="ucn_uri" type="xs:anyURI" style="plain" required="true" />
					<param name="ucn_format" fixed="xml" required="true" style="plain">
						<option value="xml" />
					</param>
					<param name="ucn_task" fixed="custom" required="true" style="plain">
						<option value="custom" />
					</param>
					<param name="tests" fixed="markup-validator" required="true" style="plain">
						<option value="markup-validator" />
					</param>
					<param name="tests" fixed="css-validator" required="true" style="plain">
						<option value="css-validator" />
					</param>
					<param name="tests" fixed="http" required="true" style="plain">
						<option value="http" />
					</param>
				</request>
		    </method>
		</resource>
	</resources>
</application>
